body {
    font-family: 'Arial', sans-serif;
    background: url('autumn-withered-leaves-ya.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header, .calculator, .steps-container {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.calculator label {
    font-size: 1.1rem;
}

.calculator input {
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    color: #333;
}

.calculator button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f77f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #d65a00;
}

.matrix-grid {
    display: grid;
    gap: 10px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}


